{% extends '::base.html.twig' %}
{% block title %}CJENIK | Mehun d.o.o.{% endblock %}
{% block metatags %}
    <meta name="keywords" content="MEHUN, cjenik, stomatologija, zubotehnički, laboratorij, dental, dentalne ordinacije, Varaždin, zubni tehničar, zubotehnički laboratorij, zubni, most, cirkon oksid, zubi, implantati, metal-keramika, bezmetalna keramika, inlay, krunica, eclipse, proteza, KISS"/>
    <meta name="description" content="Mehun d.o.o. | poduzeće za zdravstvenu djelatnost zubotehničkog laboratorija" />
{% endblock %}
{% block body %}
    <!-- Breadcrumbs
================================================== -->
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">Cjenik</h1>
                    <ul class="bread_crumb">
                        <li> <a href="#"> Dokumenti </a> </li>
                        <li class="separator icon_small_arrow right_gray"> &nbsp; </li>
                        <li> Cjenik </li>
                    </ul>
                </div>
            </div>

            <!-- Tekst
            ================================================== -->
            <div>
                <div class="page_left page_margin_top">
                    <div class="column_left">
                        <p>Pregledom cjenika možete uvijek biti upućeni u aktualne cijene proizvoda i usluga koje Vam zubotehnički laboratorij Mehun d.o.o. može ponuditi. Ukoliko imate pitanja ili su Vam potrebne bilo kakve informacije, bez ustručavanja nam se obratite. <br>
                            <br>
                            <strong>Preuzmite i pregledajte<a target="_blank" href="{{ asset('pdf/mehun_cjenik.pdf') }}"> cjenik u PDF formatu.</a></strong> </p>
                    </div>
                </div>
            </div>

            <!-- Kontakt info box
            ================================================== -->
            <div class="page_right page_margin_top">
                <ul>
                    <li class="home_box green">
                        <h2> <a href="{{ path('kontakt') }}" title="Kontakt"> Lokacija i kontakt </a> </h2>
                        <div class="news clearfix">
                            <p class="text"> Ivana Mažuranića 70, 42000 Varaždin<br>
                                Tel.: +385 42 240 366<br>
                                Mob.: +385 98 267 140<br>
                                Fax: +385 42 204 860</p>
                        </div>
                    <li class="sidebar_box">
                        <ul class="contact_data">
                            <li class="clearfix"> <span class="social_icon mail"></span>
                                <p class="value"> e-mail: info@mehun.hr </p>
                            </li>
                            <li class="clearfix"> <span class="social_icon form"></span>
                                <p class="value"> Pošaljite upit putem<a href="{{ path('kontakt') }}"> kontakt obrasca</a> </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}