{% extends '::base.html.twig' %}
{% block title %}O NAMA | Mehun d.o.o.{% endblock %}
{% block metatags %}
    <meta name="keywords" content="MEHUN, o nama, stomatologija, zubotehnički, laboratorij, dental, dentalne ordinacije, Varaždin, zubni tehničar, zubotehnički laboratorij, zubni, most, cirkon oksid, zubi, implantati, metal-keramika, bezmetalna keramika, inlay, krunica, eclipse, proteza, KISS"/>
    <meta name="description" content="Mehun d.o.o. | poduzeće za zdravstvenu djelatnost zubotehničkog laboratorija" />
{% endblock %}
{% block body %}
    <!-- Breadcrumbs
================================================== -->
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">O nama</h1>
                    <ul class="bread_crumb">
                        <li> <a href="{{ path('mehun_content_homepage') }}"> Naslovna </a> </li>
                        <li class="separator icon_small_arrow right_gray"> &nbsp; </li>
                        <li> O nama </li>
                    </ul>
                </div>
            </div>

            <!-- Manja galerija
           ================================================== -->
            <div class="clearfix">
                <div class="gallery_item_details_list clearfix page_margin_top">
                    <div class="gallery_item_details clearfix">
                        <div class="columns no_width">
                            <div class="column_left">
                                <div class="gallery_box">
                                    <ul class="image_carousel">
                                        <li class="current_slide"> <img src="images/laboratorij/laboratorij-mehun1.jpg" alt=""/>
                                            <ul class="controls">
                                                <li> <a href="images/laboratorij/laboratorij-mehun1.jpg" rel="data-gallery" class="fancybox open_lightbox"></a> </li>
                                            </ul>
                                        </li>
                                        <li> <img src="images/laboratorij/laboratorij-mehun2.jpg" alt=""/>
                                            <ul class="controls">
                                                <li> <a href="images/laboratorij/laboratorij-mehun2.jpg" rel="data-gallery" class="fancybox open_lightbox"></a> </li>
                                            </ul>
                                        </li>

                                        <li> <img src="images/laboratorij/laboratorij-mehun3.jpg" alt=""/>
                                            <ul class="controls">
                                                <li> <a href="images/laboratorij/laboratorij-mehun3.jpg" rel="data-gallery" class="fancybox open_lightbox"></a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Tekst
                            ================================================== -->
                            <!-- Stupac desno od galerije-->
                            <div class="column_right">
                                <div class="details_box">
                                    <h2> Mehun d.o.o. </h2>
                                    <p> Poduzeće za zdravstvenu djelatnost zubotehničkog laboratorija Mehun d.o.o. među prvima je takve vrste u Hrvatskoj. <strong>Započeli smo još davne 1992. godine u želji da stečeno praktično znanje primijenimo na najbolji mogući način.</strong> Od tada pa do danas ponosimo se brojnim kvalitetno izvedenim radovima o čemu svjedoče naši suradnici-partneri, a s njima i tisuće osmijeha zadovoljnih pacijenata. </p>
                                    <h3 class="box_header margin_top_10"> Tko smo? </h3>
                                    <p> Mala ekipa ljudi okupljena u želji da kroz služenje Vama osigura svoju egzistenciju. Podijeljeni smo po specijalizacijama i trudimo se činiti dobro. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns full_width">
                    <!-- Stupac niže lijevo-->
                    <div class="column_left">
                        <p>MEHUN d.o.o. sa svojih 14 zaposlenika spada u red manjih poduzeća. 22 godine stalnog usavršavanja i edukacija u raznim područjima dentalne tehnike rezultiralo je sposobnošću djelatnika da odgovore i na najzahtjevnije izazove bilo da se radi o procesima i postupcima u izradi dentoprotetskih nadomjestaka ili materijalima od kojih se izrađuju. Prateći suvremena dostignuća, tvrtka po svojoj opremljenosti i kompetencijama spada u sam vrh dentalne tehnike na području koje pokriva svojim djelovanjem. Suradnja s nekim od najvažnijih stručnjaka, otvoren pristup svim recentnim znanstvenim metodama i bogato iskustvo vlasnika poduzeća g. <strong>Darka Mehuna</strong> i voditeljice laboratorija gđe <strong>Sanje Ciberlin</strong> omogućavaju suradnicima uvijek individualan pristup u rješavanje svakog pojedinog slučaja i savjet koji pametni suradnici rado poslušaju. </p>
                    </div>

                    <!-- Stupac niže desno-->
                    <div class="column_right">
                        <p>Posljednjih godina interes poduzeća posebno je usmjeren k bezmetalnim rješenjima i materijalima koji ne izazivaju nikakve nelagode kako za pacijente, tako i za doktore dentalne medicine. <br>
                            <br>
                            Laboratorij je u stanju izvršiti svaki zahtijevani rad - <strong>od folija za izbjeljivanje, aparatića protiv hrkanja pa sve do najsloženijih radova na implantatima u svim materijalima od neplemenitih preko galvana i cirkon oksida do titana.</strong> Posebnost u radu laboratorija je <strong>izrada facijalnih epiteza, proteza uha, nosa i sl.</strong> Uz osnovne djelatnosti, interesi poduzeća kreću se i u sferi edukacija.<br>
                        </p>
                    </div>
                    <!-- Stupac BIO-->
                    <div class="column_left page_margin_top clearfix">
                        <ul class="column_left">
                            <h4 class="box_header"> O direktoru i voditeljici laboratorija </h4>
                            <li class="item_content clearfix"> <a class="features_image" title="Darko Mehun"> <img src="images/darko_mehun.jpg" alt="Darko Mehun" /> </a>
                                <div class="bio"> <strong>Darko Mehun, direktor</strong><br>
                                    <br>
                                    Dentalnom se tehnikom bavi od 1981. godine, a 11 godina kasnije postaje samostalni vlasnik dentalnog laboratorija. U devedesetima se intenzivno školuje u raznim područjima dentalne tehnike te 1998. potpisuje svoj prvi ugovor s tvrtkom Degussa dental temeljem kojeg postaje demonstrator za proizvode te tvrtke od legura, svih vrsta keramike do umjetnih smola. Suradnju 2003.g. nastavlja sa tvrtkom DeguDent, a od 2013. je i OPL za kompletan proizvodni program Dentsply s naglaskom na CAD CAM tehnologiju i tehnički savjetnik za područje od Poljske do Izraela. Aktivno se služi s više stranih jezika te kao predavač učestvuje na kongresima i workshopovima diljem jugoistoka Europe. Svoje iskustvo i znanje stečeno kroz rad i školovanje dijeli s kolegama i pomaže u razvoju i podizanju kvalitete rada struke općenito. </div>
                            </li>
                            <li class="item_content clearfix"> <a class="features_image" title="Sanja Ciberlin"> <img src="images/sanja_ciberlin.jpg" alt="Sanja Ciberlin" /> </a>
                                <div class="bio"> <strong>Sanja Ciberlin, voditeljica</strong><br>
                                    <br>
                                    Nakon kratkog iskustva u radu kao dentalni tehničar u Stomatološkoj poliklinici „Perkovčeva“ u Zagrebu od 1994. godine suradnik je u dentalnom laboratoriju, a kasnije od 2005. godine i u Mehun d.o.o. Tijekom prve dekade dvijetisućitih intenzivno se školuje u području dentalne keramike i gnatologije te postaje specijalist keramičar. Svojim ozbiljnim pristupom poslu 2007. godine postaje zamjenik voditelja, a od 2013. i voditelj poslova u našem laboratoriju. Dvadeset godina iskustva i predanost poslu omogućuje joj da s lakoćom rješava i najzamršenije slučajeve. </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Slika desno
                    ================================================== -->
                    <div class="column_right"> <img src="images/organizacijska_shema.png" alt="Mehun organizacija" /> </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}