{% extends '::base.html.twig' %}
{% block title %}POLITIKA KVALITETE | Mehun d.o.o.{% endblock %}
{% block metatags %}
    <meta name="keywords" content="MEHUN, politika kvalitete, stomatologija, zubotehnički, laboratorij, dental, dentalne ordinacije, Varaždin, zubni tehničar, zubotehnički laboratorij, zubni, most, cirkon oksid, zubi, implantati, metal-keramika, bezmetalna keramika, inlay, krunica, eclipse, proteza, KISS"/>
    <meta name="description" content="Mehun d.o.o. | poduzeće za zdravstvenu djelatnost zubotehničkog laboratorija" />
{% endblock %}
{% block body %}
    <!-- Breadcrumbs
================================================== -->
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">Politika kvalitete</h1>
                    <ul class="bread_crumb">
                        <li> <a href="#"> Dokumenti </a> </li>
                        <li class="separator icon_small_arrow right_gray"> &nbsp; </li>
                        <li> Politika kvalitete </li>
                    </ul>
                </div>
            </div>
            <div>

                <!-- Tekst
                ================================================== -->
                <div class="page_left page_margin_top">
                    <div class="column_left">
                        <p>Kod nas je kvaliteta sastavni dio svakodnevnog poslovanja i naše poslovne strategije. Sustav upravljanja kvalitetom primijenjen u tvrtki MEHUN d.o.o. zasnovan je na zahtjevima međunarodne norme EN ISO 9001:2008, a dodjeljen je od certificiranih auditora organizacije TÜV. Cilj navedenog je potpuno ispunjavanje zahtjeva za kvalitetom usluga i procesa.<br>
                            <br>
                            Sustav upravljanja kvalitetom primjenjuje se na proces izrade zubno-protetskih nadomjestaka odnosno na sve faze i segmente rada od prijama otisaka i izdavanje radnih naloga, praćenja pojedinih faza rada preko kontrole istih do završne kontrole. Sadrži sve zahtjeve radnih procedura, a koje zubotehnički laboratorij Mehun d.o.o. ispunjava. Zahtjevi se odnose na dokumentaciju koja podrazumijeva upravljanje sustavom kvalitete proizvoda i usluga, aparate i uređaje, zaposlenike, radne uvjete, nabavu, prodaju usluga, zahtjeve pacijenta, ispunjavanje zakonskih obveza i slično.<br>
                            <br>
                            Rad u skladu sa zahtjevima međunarodne norme EN ISO 9001:2008 dokaz je visoke kvalitete naših proizvoda, usluga i čitavih procesa unutar tvrtke, te jamči potpunu usklađenost sa nacionalnim i međunarodnim zakonskim propisima i opravdava očekivanja naših kupaca, partnera i regulatornih tijela.</br >
                            </br >
                            <strong>Poslovnik u cjelosti opisuje sustav upravljanja kvalitetom i kao takvog možete ga preuzeti i pregledati <a href="{{ asset('pdf/mehun_poslovnik_kvalitete.pdf') }}" target="_blank">u PDF formatu.</a></strong> </p>
                    </div>
                </div>
            </div>


            <!-- Slika
            ================================================== -->

            <div class="page_right page_margin_top">
                <div class="gallery_box">
                    <ul class="image_carousel">
                        <li class="current_slide"> <img src="images/iso_certifikat_1.jpg" alt=""/>
                            <ul class="controls">
                                <li> <a href="images/iso_certifikat_2.jpg" rel="gallery" class="fancybox open_lightbox"></a> </li>
                            </ul>

                    </ul>
                </div>
            </div>

            <!-- Kontakt box
            ================================================== -->

            <!--  <div class="page_right page_margin_top">
               <h4 class="info"> Kontaktirajte nas! </h4>
                    <ul class="contact_data">
                      <li class="clearfix"> <span class="social_icon mail"></span>
                        <p class="value"> e-mail: info@mehun.hr </p>
                      </li>
                      <li class="clearfix"> <span class="social_icon form"></span>
                        <p class="value"> Pošaljite upit putem<a href="kontakt.php"> kontakt obrasca</a> </p>
                      </li>
                    </ul>
              </div>-->
        </div>
    </div>
{% endblock %}